<br>
<div class="contenido-operaciones">
    <form [formGroup]="criterioForm" (ngSubmit)="buscar()" autocomplete="off">
        <mat-form-field appearance="outline">
            <mat-label>Fecha inicio día/mes/año</mat-label>
            <input formControlName="inicio"  matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha fin día/mes/año</mat-label>
            <input formControlName="fin"  matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nombres o RS</mat-label>
            <input matInput type="text" formControlName="nombres">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nro. documento</mat-label>
            <input matInput type="text" formControlName="nroDocumento">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ticket</mat-label>
            <input matInput type="text" formControlName="ticket">
        </mat-form-field>
        <mat-form-field appearance="outline" class="select-cuenta">
            <mat-label>Selec. operador</mat-label>
            <mat-select formControlName="operador">
                <mat-option *ngFor="let item of operadoresSelect" [value]="item.id">
                    {{item.usuario}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="select-cuenta">
            <mat-label>Selec. estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option *ngFor="let item of estados" [value]="item.codigo">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="estaCargando">
            Buscar
        </button>&nbsp;
        <button mat-raised-button type="button" color="accent" (click)="recuperaInicial()" [disabled]="estaCargando">
            Limpiar filtros
        </button>
    </form>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="">
            <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
                <td mat-cell *matCellDef="let item"> {{item.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}} </td>
              </ng-container>
          <ng-container matColumnDef="ticket">
            <th mat-header-cell *matHeaderCellDef> Ticket </th>
            <td mat-cell *matCellDef="let item"> {{item.ticket}} </td>
          </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let item"> 
                    <div [class]="buscarClasePorCodigo(item.estado, item.envioSunat)">
                        {{buscarNombreDeEstado(item.estado)}}
                    </div>
                </td>
            </ng-container>
<!--             <ng-container matColumnDef="tipoTransferencia">
                <th mat-header-cell *matHeaderCellDef> Tipo transferencia </th>
                <td mat-cell *matCellDef="let item"> {{buscarNombreDeTransferencia(item.tipoTransferencia)}} </td>
            </ng-container> -->
            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let item">{{item.monto | number:'1.2-2'}} {{buscarNombreDeMoneda(item.cuentaOrigen.moneda)}}</td>
            </ng-container>
            <ng-container matColumnDef="montoFinal">
              <th mat-header-cell *matHeaderCellDef> Monto final </th>
              <td mat-cell *matCellDef="let item"> {{item.montoFinal | number:'1.2-2'}} {{buscarNombreDeMoneda(item.cuentaDestino.moneda)}}</td>
            </ng-container>
            <ng-container matColumnDef="codigoTransferencia">
                <th mat-header-cell *matHeaderCellDef> Cód. transferencia </th>
                <td mat-cell *matCellDef="let item">
                    {{item.codigoTransferencia}}
                    <div (click)="recuperarComprobante(item.id, 1)" *ngIf="item.estado!=6" matTooltip="Ver comprobante" class="btn-personal">
                        <mat-icon>attachment</mat-icon>
                    </div>

                    <div (click)="cargarComprobante(item.id)" *ngIf="item.estado==6 && recuperaUsuarioToken()==item.operador.usuario" matTooltip="Más detales" class="btn-personal">
                        <mat-icon>launch</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="codigoTransferenciaEmpresa">
                <th mat-header-cell *matHeaderCellDef> Cód. transferencia Emp.</th>
                <td mat-cell *matCellDef="let item">
                    {{item.codigoTransferenciaEmpresa}}
                    <div (click)="recuperarComprobante(item.id, 2)" *ngIf="item.codigoTransferenciaEmpresa" matTooltip="Ver comprobante" class="btn-personal">
                        <mat-icon>attachment</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cliente.nombres}}
                    <div (click)="abrirDetalles(4, item.cliente)" matTooltip="Más detales" class="btn-personal">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef> Cta. Origen </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cuentaOrigen.bancoNombre}} {{item.cuentaOrigen.numeroCuenta}}
                    <div (click)="abrirDetalles(1, item.cuentaOrigen)" matTooltip="Más detales" class="btn-personal">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef> Cta. Destino </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cuentaDestino.bancoNombre}} {{item.cuentaDestino.numeroCuenta}}
                    <div (click)="abrirDetalles(2, item.cuentaDestino)" matTooltip="Más detales" class="btn-personal">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="transferencia">
                <th mat-header-cell *matHeaderCellDef> Cta. Transferencia </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cuentaTransferencia.bancoNombre}} {{item.cuentaTransferencia.numeroCuenta}}
                    <div (click)="abrirDetalles(3, item.cuentaTransferencia)" matTooltip="Más detales" class="btn-personal">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="operador">
                <th mat-header-cell *matHeaderCellDef> Asignado </th>
                <td mat-cell *matCellDef="let item">{{item.operador.usuario}}</td>
            </ng-container>
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let item">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="abreReasignacion(item.id)" mat-menu-item *ngIf="mostrarReasignar(item.estado)">
                                <mat-icon>sync_alt</mat-icon>
                                <span>Reasignar operador</span>
                            </button>
                            <button (click)="accionOperador(item.id, item.ticket, 3)" mat-menu-item *ngIf="mostrarEnCurso(item.estado) && estaAsignadoATi(item.operador.usuario)">
                                <mat-icon>check</mat-icon>
                                <span>En curso</span>
                            </button>
                            <button (click)="accionOperador(item.id,item.ticket, 5)" mat-menu-item *ngIf="mostrarAnular(item.estado)">
                                <mat-icon>thumb_down</mat-icon>
                                <span>Anular</span>
                            </button>
                            <button (click)="finalizaOperacion(item.id)" mat-menu-item *ngIf="mostrarFinalizar(item.estado) && estaAsignadoATi(item.operador.usuario)">
                                <mat-icon>done_all</mat-icon>
                                <span>Finalizar</span>
                            </button>
                            <button (click)="accionOperador(item.id,item.ticket, 0)" mat-menu-item *ngIf="mostrarReactivar(item.estado)">
                                <mat-icon>refresh</mat-icon>
                                <span>Reactivar</span>
                            </button>
                            <button (click)="abrirFactura(item.id)" mat-menu-item *ngIf="item.estado==10">
                                <mat-icon>shopping_cart_checkout</mat-icon>
                                <span>Factura/CV</span>
                            </button>
                        </mat-menu>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
          </table>
          <mat-paginator
          [showFirstLastButtons]="showFirstLastButtons"
          [length]="paginaActual.totalElements"
          [pageSize]="paginaActual.size"
          [pageSizeOptions]="[5, 10]"
          [pageIndex]="paginaActual.number">
          </mat-paginator>
    </div>    
    <mat-progress-bar *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
</div>