<ion-content [fullscreen]="true" class="page">
  <app-explore-container></app-explore-container>
  <div class="card">
    <form [formGroup]="operacionForm" (ngSubmit)="iniciarOperacion()" autocomplete="off">
      <div class="tipo-cambio" *ngIf="tipoCambio">
        <div class="titulo">El mejor tipo de cambio <br>
          <small>{{fechaActual}}</small>
        </div>
        <div class="compra-venta" [ngClass]="true?'accent-background':'warn-background'">
          <div class="compra"><small>S/ </small>{{tipoCambio?.compra}}<br><small>COMPRA</small></div>
          <div class="venta"><small>S/ </small>{{tipoCambio?.venta}}<br><small>VENTA</small></div>
        </div>
      </div><br>
      
    </form>
  </div>
</ion-content>
