.page{
    //--background: linear-gradient(63deg, rgb(45, 71, 175) 0%, rgba(6,162,201,1) 43%, rgba(32,181,152,1) 100%);
    --background: #2d47af;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    //#2d47af
}
.card {
    background-color: #f5f5f5;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    padding: 1em;
    width: 100%;
    height: 80vh;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
  }

  /////////////////TIPO DE CAMBIO
.tipo-cambio{
    width: 80%;
    text-align: center;
    margin: auto;
    background: white;
    border-radius: 1.5em;
    -webkit-box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.75);
}
.titulo{
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    padding: 0.5em;
    width: 100%;
    background: #2d47af;
    //background: linear-gradient(63deg, rgb(6, 187, 233) 0%, rgba(32,181,152,1) 45%);
    color: white;
    font-weight: bold;
}
.compra-venta{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: 800;
}
.compra-venta small, .envio small, .recibo small {
    color: #747373;
    font-weight: 500;
    font-size: 0.7em;
    text-transform: uppercase;
}
.compra, .venta{
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
}

//////// cambios
.envio-recibo {
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background: #ffffff;
    padding: 1em;
    border-radius: 1.5em;
    -webkit-box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 16px -9px rgba(0,0,0,0.75);
}
.envio-recibo mat-form-field {
    width: 100%;
}
.envio-recibo mat-form-field img {
    width: 2.5em;
    padding-right: 5px;
}
.cambio {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6.3em;
    z-index: 10;
    transition: transform 0.5s ease;
}
.girado {
    transform: translateX(0%) rotate(180deg);
}
ion-button {
    width: 100%;
}
.btns-cliente {
    text-align: center;
}