<div class="contenido-util">

<!--     <div class="sessiones">
        <button mat-fab extended color="primary">
            <mat-icon>account_circle</mat-icon>
            Iniciar sesión
        </button><br>
        <br>
        <button mat-fab extended color="accent">
            <mat-icon>how_to_reg</mat-icon>
            Regístrate
        </button>
    </div>
    <app-cacula-cambio class="calcula-cambio-home"></app-cacula-cambio> -->
    <router-outlet></router-outlet>
</div>
<!-- <div class="img-fondo">
    <img [src]="img_fondo" alt="">
</div> -->