<div class="contenido-util">

<!--     <div class="sessiones">
        <button mat-fab extended color="primary">
            <mat-icon>account_circle</mat-icon>
            Iniciar sesión
        </button><br>
        <br>
        <button mat-fab extended color="accent">
            <mat-icon>how_to_reg</mat-icon>
            Regístrate
        </button>
    </div>
    <app-cacula-cambio class="calcula-cambio-home"></app-cacula-cambio> -->
    <router-outlet></router-outlet>
</div>
<a class="whatsapp-logo" [href]="url_watsapp" target="_blank" matTooltip="Entra aquí" *ngIf="url_watsapp && esCliente()">
    <img [src]="whatsapp_logo" alt="">
    <div class="color-primary">Chatea con nosotros</div>
</a>
<notifier-container></notifier-container>
<ngx-ui-loader></ngx-ui-loader>