<mat-card>
    <mat-card-header>
        <span class="cierra-componente accent-color">
            <mat-icon (click)="close(false)" matTooltip="Cerrar">cancel</mat-icon>
        </span>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Comprobante</mat-card-title>
        <mat-card-subtitle>Ticket 21312</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <lib-ngx-image-zoom 
            [thumbImage]="imagen" 
            [fullImage]="imagen">
    </lib-ngx-image-zoom>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>