ion-content.background{
    --background: linear-gradient(0deg, rgba(67,64,64,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 52%, rgba(45,71,175,1) 100%);
}
.contenido{
    border-top-left-radius: 1.5em !important;
    border-top-right-radius: 1.5em !important;
    background: white;
}
.adorno{
    background: #2d47af;
    height: 0.1em;
}
.logo{
    padding: 1em 0em 0em 0em;
    width: 40%;
    margin: auto;
}
.logo img{
    width: 100%;
}
.formulario{
    padding: 1em;
    width: 100%;
    margin: auto;
    padding: 2em;
    box-sizing: border-box;
}
.form-contenido{
    background: #ffffff;
    padding: 1em;
    border-radius: 1em;
}
ion-input{
    --background: #ffffff;
}
ion-button, mat-form-field{
    width: 100%;
}
.aux-buttons{
    width: 100%;
    margin: auto;
    text-align: center;
}
.aux-buttons .aux{
    color: #6d6d6d;
    font-weight: 300;
    padding: 5px;
    display: inline-block;
    font-size: 0.8em;
    //background: #ffffff;
    border-radius: 1em;
    margin: 3px;
}

.aux-buttons .aux ion-icon{
    font-size: 1.8em;
}

.whatsapp{
    position: fixed;
    bottom: 5em;
    left: 0.2em;
}
.registrate{
    margin-top: 0.9em;
    border-top: dashed 1px #838384;
    color: #6d6d6d;
    padding: 5px;
    width: 100%;
    font-size: 0.7em;
}

.titulo{
    color: #6d6d6d;
    font-size: 0.8em;
    text-align: center;
    font-weight: 700;
    margin-top: 0;
}
ion-item{
    border: 1px solid #2d47af;
    border-radius: 0.5em;
}
.biometrico{
    text-align: center;
    color: var( --ion-color-primary);
    font-size: 0.7em;
}