<br>
<div class="contenido-general">
    <button (click)="agregarBanco()" mat-fab extended color="primary" class="btn-agregar-cuentas">
      <mat-icon>add</mat-icon>
      Agregar banco
    </button>
    <br>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let item">
            <mat-slide-toggle [(ngModel)]="item.activo" (ngModelChange)="cambioEstado(item)" color="primary">
              <small>{{item.activo?'Activo':'Deshabilitado'}}</small>
            </mat-slide-toggle>
          </td>
        </ng-container>
<!--         <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <button (click)="editar(item)" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
          </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10]" showFirstLastButtons>
        </mat-paginator>
      <mat-progress-bar *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
    </div>
</div>