<div class="loging-contenido3">
        <div class="izquierdo3">
            <div class="loging-for3">
                <div class="primero logo-log-reg3">
                    <img src='assets/img/logo.png' alt="">
                </div><br><br>
                 <h4 class="mat-primary">INICIE SESIÓN</h4>
                <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese su usuario</mat-label>
                        <input matInput type="text" formControlName="username">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide?'password':'text'" formControlName="password">
                        <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field><br>
                    <button mat-fab extended color="primary" [disabled]="estaCargando">
                        <mat-icon>login</mat-icon>
                        Iniciar sesión
                    </button>&nbsp;
                    <button type="reset" mat-fab extended color="accent" [disabled]="estaCargando">
                        <mat-icon>block</mat-icon>
                        Cancelar
                    </button>
                </form>
                <button routerLink="/registro" mat-button matTooltip="Regístrese para acceder al sistema" color="primary"><mat-icon>article</mat-icon>Regístrame</button>
                <button (click)="cuentasAux(1)" mat-button matTooltip="Haga clic para recuperar su contraseña"  [color]="'primary'">
                    <mat-icon>lock</mat-icon> Olvidé mi contraseña
                </button>
                <button (click)="cuentasAux(2)" mat-button matTooltip="Haga clic para recuperar su contraseña"  [color]="'primary'">
                    <mat-icon>outgoing_mail</mat-icon> Confirmar mi correo
                </button>
                <mat-progress-bar *ngIf="estaCargando" mode="indeterminate" class="cargando"></mat-progress-bar>
            </div>
    </div>
    <div class="derecho3">
        <div class="contenido-der3">
            <div class="logo-log-reg3">
                <img src='assets/img/logofooter.png' alt="">
            </div><br>
            <div class="tipos-de-cambios">
                <table *ngIf="lcExchange && banco">
                    <tr class="lc"><td></td><td><small>COMPRA</small></td><td><small>VENTA</small></td></tr>
                    <tr *ngIf="lcExchange" class="lc"><td><img src="assets/img/logo3.png"></td><td><small>S/ </small>{{lcExchange.compra}}</td><td><small>S/ </small>{{lcExchange.venta}}</td></tr>
                    <tr *ngIf="sunat"><td><img src="assets/img/sunat.svg" alt=""></td><td><small>S/ </small>{{sunat.compra}}</td><td><small>S/ </small>{{sunat.venta}}</td></tr>
                    <tr *ngIf="banco"><td><mat-icon>account_balance</mat-icon> Bancos</td><td><small>S/ </small>{{banco.compra}}</td><td><small>S/ </small>{{banco.venta}}</td></tr>
                </table>
            </div>
            <br>
            <div class="contenedor-carrusel">
                <div class="lista-pasos">La mejor tasa de cambio, donde sea que estés en solo tres pasos: </div>
                <div class="lista-pasos">1. Registrate en nuesto portal web o descarga nuestra app</div>
                <div class="lista-pasos">2. Registra una operación de cambio con a la mejor tasa de cambio</div>
                <div class="lista-pasos">3. Transfiere el monto del cambio a nuestras cuentas, recibe el cambio en tu cuenta</div>
            </div>            
        </div>
    </div>
</div>

