<div class="loging-wrapper">
    <div class="loging-box">
        <div class="loging-left-box">
            <div class="loging-formulario">
                <div class="logo-log-reg">
                    <img src='assets/img/logo.png' alt="">
                </div>
                 <h4 class="mat-primary">INICIE SESIÓN</h4>
                <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese su usuario</mat-label>
                        <input matInput type="text" formControlName="username">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide?'password':'text'" formControlName="password">
                        <mat-icon class="pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <button mat-fab extended color="primary" [disabled]="estaCargando">
                        <mat-icon>login</mat-icon>
                        Iniciar sesión
                    </button>&nbsp;
                    <button type="reset" mat-fab extended color="accent" [disabled]="estaCargando">
                        <mat-icon>block</mat-icon>
                        Cancelar
                    </button>
                </form>
                <button routerLink="/registro" mat-button matTooltip="Regístrese para acceder al sistema" color="primary"><mat-icon>article</mat-icon>Regístrame</button>
                <button (click)="panelManager('RESET')" mat-button matTooltip="Haga clic para recuperar su contraseña"  [color]="'primary'">
                    <mat-icon>pan_tool</mat-icon> Olvidé mi contraseña
                </button>
                <button (click)="panelManager('CONFIRM')" mat-button matTooltip="Haga clic para recuperar su contraseña"  [color]="'primary'">
                    <mat-icon>pan_tool</mat-icon> Confirmar mi correo
                </button>
                <mat-accordion>
                    <mat-expansion-panel [expanded]="panelOpen">
                      <small>
                        <p>Enviaremos un link a su correo para que pueda {{leyenda}}.</p>
                      </small>
                      <form [formGroup]="resetForm" (ngSubmit)="executeAction('RESCUE')" #formRes="ngForm" autocomplete="off">
                        <table>
                          <tr>
                            <td>
                              <mat-form-field appearance="outline"  matTooltip="Correo/Cédula de identidad">
                                <mat-label>Correo/Cédula de identidad</mat-label>
                                <input matInput type="text" formControlName="dato">
                              </mat-form-field>
                            </td>
                            <td></td>
                          </tr>
                        </table>
                        <button [disabled]="resetForm.invalid" mat-raised-button color="primary" matTooltip="Enciar dato">Enviar</button>&nbsp;
                      </form>
                    </mat-expansion-panel>
                  </mat-accordion>
                <mat-progress-bar *ngIf="estaCargando" mode="indeterminate" class="cargando"></mat-progress-bar>
            </div>
    </div>
    <div class="loging-right-box">
      <p>Contenido</p>
    </div>
    </div>
</div>

