mat-toolbar
    display: flex
    justify-content: space-between
    align-items: center
    background: #ffffff
    box-shadow: 0 5px 15px 2px #9e9e9e
.toolbar-section
    display: flex
    align-items: center
    .elemento
        margin-left: 0.5em
.left
    justify-content: flex-start
    flex: 1

.center
    justify-content: center
    flex: 1

.right
    justify-content: flex-end
    flex: 1
.menu-texto
    font-size: 0.9em