<mat-card>
    <mat-card-header>
        <mat-card-title>Cambio password</mat-card-title>
    </mat-card-header>
    <form [formGroup]="resetForm" (ngSubmit)="cambioPassword()" autocomplete="off">
        <mat-card-content>
            <div>
                <h4 class="mat-primary">Ingresa tu nueva contraseña</h4> 
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide1?'password':'text'" formControlName="password">
                    <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="resetForm.get('password')?.hasError('required')">
                        El password es <strong>obligatorio</strong>
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('password')?.hasError('minlength')">
                        Mínimo <strong>8 caracteres</strong>
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('password')?.hasError('maxlength')">
                        Máximo <strong>30 caracteres</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input matInput [type]="hide2?'password':'text'" formControlName="rePassword">
                    <mat-icon class="pointer" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="resetForm.get('rePassword')?.hasError('required')">
                        El password es <strong>obligatorio</strong>
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('rePassword')?.hasError('minlength')">
                        Mínimo <strong>8 caracteres</strong>
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('rePassword')?.hasError('maxlength')">
                        Máximo <strong>30 caracteres</strong>
                    </mat-error>
                    <mat-error *ngIf="resetForm.get('rePassword')?.hasError('confirmPasswordValidator')">
                        Los passwords <strong>deben ser iguales</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab extended color="primary" [disabled]="estaCargando">
                <mat-icon>check</mat-icon>
                Guardar
            </button>&nbsp;
            <button type="button" (click)="close(false)" mat-fab extended color="accent" [disabled]="estaCargando">
                <mat-icon>block</mat-icon>
                Cerrar
            </button>
        </mat-card-actions>
    </form>
    <mat-card-footer>
        <mat-progress-bar  *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
