
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="mis-operaciones" href="/tabs/mis-operaciones">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Operaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cliente" href="/tabs/cliente">
      <ion-icon aria-hidden="true" name="logo-usd"></ion-icon>
      <ion-label>Operación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-cuentas" href="/tabs/lista-cuentas">
      <ion-icon aria-hidden="false" name="business"></ion-icon>
      <ion-label>Cuentas bancarias</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
