<mat-card class="operacion-card">
    <mat-card-header>
        <span class="cierra-componente accent-color">
            <mat-icon (click)="close(false)" matTooltip="Cerrar">cancel</mat-icon>
        </span>
      <!-- <mat-card-subtitle>Administración de</mat-card-subtitle> -->
      <mat-card-title>Nueva operación</mat-card-title>
    </mat-card-header>
        <mat-card-content>
            <mat-stepper linear #stepper>
                <mat-step [stepControl]="cuentasFormGroup" [editable]="isEditable">
                  <form [formGroup]="cuentasFormGroup">
                    <ng-template matStepLabel>Origen cuenta y destino</ng-template>
                    <div>
                        <mat-card-subtitle>¿De dónde nos envías tu dinero?
                            <button  (click)="agregaCuentasBancarias()" class="agrega-cuenta" type="button" mat-mini-fab color="primary" matTooltip="Agregás cuentas bancarias">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Banco</mat-label>
                            <mat-select formControlName="bancoOrigen">
                                <mat-option *ngFor="let item of bancos" [value]="item.id">
                                    <span class="option-banco-logo" style="display: flex; align-items: center;">
                                        <img [src]="'assets/bancos/'+item.logo" class="option-banco-logo">
                                        {{item.nombre}}
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="select-cuenta">
                            <mat-label>Cuenta</mat-label>
                            <mat-select formControlName="cuentaOrigen">
                                <mat-option *ngFor="let item of cuentasOrigen" [value]="item.id">
                                {{item.nombre}} {{item.numeroCuenta}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <mat-card-subtitle>¿Dónde quieres recibir tu dinero?
                        </mat-card-subtitle>
                        <mat-form-field appearance="outline">
                            <mat-label>Banco</mat-label>
                            <mat-select formControlName="bancoDestino">
                                <mat-option *ngFor="let item of bancos" [value]="item.id">
                                    <span class="option-banco-logo" style="display: flex; align-items: center;">
                                        <img [src]="'assets/bancos/'+item.logo" class="option-banco-logo">
                                        {{item.nombre}}
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="select-cuenta">
                            <mat-label>Cuenta</mat-label>
                            <mat-select formControlName="cuentaDestino">
                                <mat-option *ngFor="let item of cuentasDestino" [value]="item.id">
                                    {{item.nombre}} {{item.numeroCuenta}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="botones-operacion">
                        <button mat-fab extended color="primary" matStepperNext>Siguiente</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper>
        </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>