<mat-card class="cuentas-bancarias-card">
    <mat-card-header>
        <span class="cierra-componente accent-color">
            <mat-icon (click)="close(false)" matTooltip="Cerrar">cancel</mat-icon>
        </span>
      <!-- <mat-card-subtitle>Administración de</mat-card-subtitle> -->
      <mat-card-title>Nueva operación</mat-card-title>
    </mat-card-header>
        <mat-card-content>
            <mat-stepper linear #stepper>
                <mat-step [stepControl]="cuentasFormGroup" [editable]="isEditable">
                  <form [formGroup]="cuentasFormGroup">
                    <ng-template matStepLabel>Origen cuenta y destino</ng-template>
                    <mat-card>
                        <mat-card-header>
                          <mat-card-subtitle>¿De dónde nos envías tu dinero?</mat-card-subtitle>
                          <button (click)="agregaCuentasBancarias()" mat-raised-button color="primary" class="peque-btn">Agregar cuentas</button>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Banco</mat-label>
                                <mat-select formControlName="bancoOrigen">
                                  <mat-option *ngFor="let item of bancos" [value]="item.id">
                                    {{item.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Cuenta</mat-label>
                                <mat-select formControlName="cuentaOrigen">
                                  <mat-option *ngFor="let item of cuentasRegistradas" [value]="item.codigo">
                                    {{item.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                          <mat-card-subtitle>¿Dónde quieres recibir tu dinero?</mat-card-subtitle>
                          <button (click)="agregaCuentasBancarias()" mat-raised-button color="primary" class="peque-btn">Agregar cuentas</button>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field appearance="outline">
                                <mat-label>Banco</mat-label>
                                <mat-select formControlName="bancoDestino">
                                  <mat-option *ngFor="let item of bancos" [value]="item.id">
                                    {{item.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Cuenta</mat-label>
                                <mat-select formControlName="cuentaDestino">
                                  <mat-option *ngFor="let item of cuentasRegistradas" [value]="item.codigo">
                                    {{item.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Fill out your address</ng-template>
                    <mat-form-field appearance="fill">
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>