<mat-card class="operacion-card">
    <mat-card-header>
        <span class="cierra-componente accent-color">
            <mat-icon (click)="close(false)" matTooltip="Cerrar">cancel</mat-icon>
        </span>
      <!-- <mat-card-subtitle>Administración de</mat-card-subtitle> -->
      <mat-card-title>Nueva operación <small class="descripcion-cambio accent-background">{{cambio.monto}} {{recuperaNombre(cambio.origen.moneda)}} a {{cambio.cambiado}} {{recuperaNombre(cambio.destino.moneda)}}</small></mat-card-title>
    </mat-card-header>
        <mat-card-content>
            <mat-stepper linear #stepper (selectionChange)="onStepChange($event)">
                <!-- DATOS PERSONALES -->
                <mat-step [stepControl]="personalForm" [editable]="isEditable" *ngIf="pedirDatospersonales()" [state]="pasoIds.personal" >
                    <br>
                    <form [formGroup]="personalForm" autocomplete="off">
                        <ng-template matStepLabel>Datos personales</ng-template>
                            <mat-form-field appearance="outline">
                                <mat-label>Tipo documento</mat-label>
                                <mat-select formControlName="tipoDocumento">
                                    <mat-option *ngFor="let item of tipoDocumentos" [value]="item.codigo">
                                    {{item.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Número documento</mat-label>
                                <input matInput type="text" formControlName="nroDocumento">
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>{{esPersona()?'Nombres':'Razón social'}}</mat-label>
                                <input matInput type="text" formControlName="nombres">
                            </mat-form-field>
                    <!--             <mat-form-field appearance="outline">
                                <mat-label>Segundo nombre</mat-label>
                                <input matInput type="text" formControlName="sNombre">
                            </mat-form-field> -->
                            <mat-form-field appearance="outline" *ngIf="esPersona()">
                                <mat-label>Apellido paterno</mat-label>
                                <input matInput type="text" formControlName="paterno">
                            </mat-form-field>
                            <mat-form-field appearance="outline" *ngIf="esPersona()">
                                <mat-label>Apellido materno</mat-label>
                                <input matInput type="text" formControlName="materno">
                            </mat-form-field>
                    <!--             <mat-form-field appearance="outline">
                                <mat-label>Teléfono</mat-label>
                                <input matInput type="text" formControlName="telefono">
                            </mat-form-field> -->
                            <mat-form-field appearance="outline">
                                <mat-label>Celular</mat-label>
                                <input matInput type="text" formControlName="celular">
                            </mat-form-field>
                            <mat-slide-toggle formControlName="deAcuerdo" color="primary">Authorizo a LC Exchange a almacenar mis datos personales</mat-slide-toggle>
                        <div class="botones-operacion">
                            <button mat-fab extended color="primary" (click)="guardaDatosPersonal(stepper)" [disabled]="estaCargando || !estaDeAcuerdo()">
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!-- CUENTAS -->
                <mat-step [stepControl]="cuentasFormGroup" [editable]="isEditable" [state]="pasoIds.cuentas" >
                  <form [formGroup]="cuentasFormGroup">
                    <ng-template matStepLabel>Origen y destino de cuentas</ng-template>
                    <div>
                        <mat-card-subtitle>¿De dónde nos envías tu dinero {{descripcionOrigenMoneda()}}?
                            <button  (click)="agregaCuentasBancarias()" class="agrega-cuenta" type="button" mat-mini-fab color="primary" matTooltip="Agregás cuentas bancarias">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </mat-card-subtitle>
                        <mat-form-field appearance="outline" class="select-banco">
                            <mat-label>Banco</mat-label>
                            <mat-select formControlName="bancoOrigen">
                                <mat-option *ngFor="let item of bancosOrigen" [value]="item.id">
                                    <span class="option-banco-logo" style="display: flex; align-items: center;">
                                        <img [src]="'assets/bancos/'+item.logo" class="option-banco-logo">
                                        {{item.nombre}}
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="select-cuenta">
                            <mat-label>Cuenta</mat-label>
                            <mat-select formControlName="cuentaOrigen">
                                <mat-option *ngFor="let item of cuentasOrigenActual" [value]="item.id">
                                {{item.nombre}} {{item.numeroCuenta}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <div>
                        <mat-card-subtitle>¿Dónde quieres recibir tu dinero {{descripcionDestinoMoneda()}}?
                        </mat-card-subtitle>
                        <mat-form-field appearance="outline" class="select-banco">
                            <mat-label>Banco</mat-label>
                            <mat-select formControlName="bancoDestino">
                                <mat-option *ngFor="let item of bancosDestino" [value]="item.id">
                                    <span class="option-banco-logo" style="display: flex; align-items: center;">
                                        <img [src]="'assets/bancos/'+item.logo" class="option-banco-logo">
                                        {{item.nombre}}
                                    </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="select-cuenta">
                            <mat-label>Cuenta</mat-label>
                            <mat-select formControlName="cuentaDestino">
                                <mat-option *ngFor="let item of cuentasDestinoActual" [value]="item.id">
                                    {{item.nombre}} {{item.numeroCuenta}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="botones-operacion">
                        <button  matStepperPrevious mat-fab extended color="accent" [disabled]="estaCargando" *ngIf="pedirDatospersonales()">
                            Atrás
                        </button>&nbsp;
                        <button mat-fab extended color="primary" (click)="recuperaCuentaLCExchange(stepper)" [disabled]="estaCargando">
                            Siguiente
                        </button>
                    </div>
                  </form>
                </mat-step>

                <!-- TRANSFIERE A LC EXCHANGE -->
                <mat-step [stepControl]="transferenciaForm" [editable]="isEditable" [state]="pasoIds.transferencia" >
                    <br>
                    <form [formGroup]="transferenciaForm" autocomplete="off">
                        <ng-template matStepLabel>Transfiere a LC Exchange</ng-template>
                        <div class="area-notificaciones">
                                <span>1. Transfiere {{cambio.monto}} {{recuperaNombre(cambio.origen.moneda)}} a nuestra cuenta</span> <br>
                            <table>
                                <tr>
                                    <td>Banco</td><th>{{cuentaTransferencia?.bancoNombre}}</th><td></td>
                                </tr>
                                <tr>
                                    <td>Número cuenta</td><th>{{cuentaTransferencia?.numeroCuenta}}</th>
                                    <td><mat-icon (click)="copiar(cuentaTransferencia?.numeroCuenta)" matTooltip="Copiar" fontIcon="content_copy" class="copiar"></mat-icon></td>
                                </tr>
                                <tr>
                                    <td>RUC</td><th>{{cuentaTransferencia?.ruc}}</th>
                                    <td><mat-icon (click)="copiar(cuentaTransferencia?.ruc)" matTooltip="Copiar" fontIcon="content_copy" class="copiar"></mat-icon></td>
                                </tr>
                                <tr>
                                    <td>Titular de la cuenta</td><th>{{cuentaTransferencia?.razonSocial}}</th>
                                </tr>
                                <tr>
                                    <td>Tipo cuenta</td><th>{{recuperaNombreTipoCuentas(cuentaTransferencia?.tipoCuenta)}} en {{recuperaNombre(cuentaTransferencia?.moneda)}}</th>
                                    <td></td>
                                </tr>
                            </table>
                            <span>2. Guarda el código de tu transferencia para el siguiente paso</span> <br>
                            <div class="letra-pequena"><small><i>LC Exchange NO realiza débito automático de ninguna cuenta.</i></small></div>
                        </div>
                        <div class="botones-operacion">
                            <mat-slide-toggle formControlName="transferido" color="primary">Ya hice la transferencia</mat-slide-toggle> <br>
                            <button  matStepperPrevious mat-fab extended color="accent" [disabled]="estaCargando">
                                Atrás
                            </button>&nbsp;
                            <button mat-fab extended color="primary" (click)="guardaTransferencia(stepper)" [disabled]="estaCargando || !transfirio()">
                                Siguiente
                            </button>
                        </div>
                    </form>
                </mat-step>

                <!-- FINALIZANDO -->
                <mat-step [stepControl]="finalizaForm" [editable]="isEditable" [state]="pasoIds.finalizar" >
                  <br>
                  <form [formGroup]="finalizaForm" autocomplete="off">
                    <ng-template matStepLabel>Finalizando</ng-template>
                    <div class="area-notificaciones">
                        <mat-form-field appearance="outline">
                            <mat-label>Código transferencia</mat-label>
                            <input matInput type="text" formControlName="codigoTransferencia">
                        </mat-form-field><br>
                        <span>Suba una foto del comprobante, puede <i>TOMAR UNA FOTO</i> o <i>SUBIR UNA IMAGEN</i> existente</span><br>
                        <div class="carga-comprobante">
                            <button (click)="abrirCamara()" mat-fab extended [color]="imagen.captura?'primary':'warn'" type="button">
                                <mat-icon>photo_camera</mat-icon>
                                Tomar foto
                            </button>&nbsp;
                            <input type="file" accept=".jpg" #fileInput style="display: none;" (change)="archivoSeleccionado($event)" />
                            <button (click)="fileInput.click()" mat-fab extended [color]="imagen.carga?'primary':'warn'" type="button">
                                <mat-icon>image</mat-icon>
                                Subir una imagen
                            </button>
                        </div>
                        <br>
                        <span>Atenderemos su operación lo más antes posible, tambien puede hacer seguimiento en la sección de <i>Operaciones</i></span>
                    </div>
                      <div class="botones-operacion">
                            <!-- <mat-slide-toggle formControlName="noTiene" color="primary">No lo tengo</mat-slide-toggle> <br> -->
                            <button  matStepperPrevious mat-fab extended color="accent" [disabled]="estaCargando">
                                Atrás
                            </button>&nbsp;
                            <button mat-fab extended color="primary" (click)="guardarFinalizar()" [disabled]="estaCargando || !finalizaForm.valid">
                                Guardar y finalizar
                            </button>
                      </div>
                  </form>
                </mat-step>
              </mat-stepper>
        </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
</mat-card>