<br>
<div class="contenido-operaciones">
    <form [formGroup]="criterioForm" (ngSubmit)="buscar()" autocomplete="off">
        <mat-form-field appearance="outline">
            <mat-label>Fecha inicio día/mes/año</mat-label>
            <input formControlName="inicio"  matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Fecha fin día/mes/año</mat-label>
            <input formControlName="fin"  matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Ticket</mat-label>
            <input matInput type="text" formControlName="ticket">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="estaCargando">
            Buscar
        </button>&nbsp;
        <button mat-raised-button type="button" color="accent" (click)="recuperaInicial()" [disabled]="estaCargando">
            Limpiar filtros
        </button>
    </form>
    <div class="op-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="fechaCreacion">
                <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
                <td mat-cell *matCellDef="let item"> {{item.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}} </td>
              </ng-container>
          <ng-container matColumnDef="ticket">
            <th mat-header-cell *matHeaderCellDef> Ticket </th>
            <td mat-cell *matCellDef="let item"> {{item.ticket}} </td>
          </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let item"> 
                    {{buscarNombreDeEstado(item.estado)}}
                    <button mat-mini-fab color="warn" *ngIf="item.estado==6">
                        <mat-icon>edit_note</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="tipoTransferencia">
                <th mat-header-cell *matHeaderCellDef> Tipo transferencia </th>
                <td mat-cell *matCellDef="let item"> {{buscarNombreDeTransferencia(item.tipoTransferencia)}} </td>
            </ng-container>
            <ng-container matColumnDef="monto">
              <th mat-header-cell *matHeaderCellDef> Monto </th>
              <td mat-cell *matCellDef="let item">{{item.monto | number:'1.2-2'}} {{buscarNombreDeMoneda(item.cuentaOrigen.moneda)}}</td>
            </ng-container>
            <ng-container matColumnDef="montoFinal">
              <th mat-header-cell *matHeaderCellDef> Monto final </th>
              <td mat-cell *matCellDef="let item"> {{item.montoFinal | number:'1.2-2'}} {{buscarNombreDeMoneda(item.cuentaDestino.moneda)}}</td>
            </ng-container>
            <ng-container matColumnDef="codigoTransferencia">
                <th mat-header-cell *matHeaderCellDef> Cód. transferencia </th>
                <td mat-cell *matCellDef="let item">{{item.codigoTransferencia}}</td>
            </ng-container>
            <ng-container matColumnDef="origen">
                <th mat-header-cell *matHeaderCellDef> Cta. Origen </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cuentaOrigen.bancoNombre}} {{item.cuentaOrigen.numeroCuenta}}
                    <mat-icon class="mas-detalles" (click)="abrirDetalles(1, item.cuentaOrigen)" matTooltip="Más detales">info</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="destino">
                <th mat-header-cell *matHeaderCellDef> Cta. Destino </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cuentaDestino.bancoNombre}} {{item.cuentaDestino.numeroCuenta}}
                    <mat-icon class="mas-detalles" (click)="abrirDetalles(2, item.cuentaDestino)" matTooltip="Más detales">info</mat-icon>
                </td>
            </ng-container>
            <ng-container matColumnDef="transferencia">
                <th mat-header-cell *matHeaderCellDef> Cta. Transferencia </th>
                <td mat-cell *matCellDef="let item">
                    {{item.cuentaTransferencia.bancoNombre}} {{item.cuentaTransferencia.numeroCuenta}}
                    <mat-icon class="mas-detalles" (click)="abrirDetalles(3, item.cuentaTransferencia)" matTooltip="Más detales">info</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
          </table>
    </div>    
    <mat-progress-bar *ngIf="estaCargando" mode="indeterminate"></mat-progress-bar>
</div>