ion-col{
    font-size: 0.8em;
    padding: 0px !important;
}
.cuentas{
    width: 80%;
}
.detalle-origen{
    margin-right: 20%;
}
.detalle-destino{
    margin-left: 20%;
}
.detalle-transferencia{
    margin: auto;
}
ion-col ion-icon {
    font-size: 2em;
    position: absolute;
    right: -0.5em;
}

ion-card-title img{
    max-height: 1.5em;
    vertical-align: bottom
}