ion-col{
    font-size: 0.8em;
    padding: 0px !important;
}
.cuentas{
    width: 70%;
}
.detalle-origen{
    margin-right: 30%;
}
.detalle-destino{
    margin-left: 30%;
}
.detalle-transferencia{
    margin: auto;
}
ion-col ion-icon {
    font-size: 2em;
    position: absolute;
    right: 0;
}