<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="cancel()" color="medium">
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Autenticación biométrica <ion-icon class="icono-config" size="large" name="finger-print"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-toggle [(ngModel)]="biometricoEstaConfigurado" (ionChange)="biometricoCambio()" [enableOnOffLabels]="true"  mode="ios" [disabled]="!tieneBiometrico">{{biometricoEstaConfigurado?'Activado':'Desactivado'}}</ion-toggle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Promociones <ion-icon class="icono-config" size="large" name="information-circle"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-toggle [(ngModel)]="aceptaPromociones" (ionChange)="promocionesCambio()" [enableOnOffLabels]="true"  mode="ios">{{aceptaPromociones?'Acepta promociones':'Sin promociones'}}</ion-toggle>
    </ion-card-content>
  </ion-card>
</ion-content>