<div class="container">
  <div class="logo">
    <img src="./../../assets/img/logofooter.png" alt="">
  </div>
  <div class="info">
    <small>Bienvenido</small><br>
    <strong>{{correo}}</strong>
  </div>
    <ion-badge *ngIf="notificaciones.length > 0" class="badage" color="danger">{{notificaciones.length}}</ion-badge>
  <ion-fab slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button color="primary">
      <ion-icon name="grid"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="primary" size="large">
        <ion-icon name="notifications"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="datosPersonales()" color="primary" size="large">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="configuraciones()" color="primary" size="large">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="/login" color="danger"  size="large">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>