.page{
    //--background: linear-gradient(63deg, rgb(45, 71, 175) 0%, rgba(6,162,201,1) 43%, rgba(32,181,152,1) 100%);
    --background: var(--ion-color-secondary);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    //#2d47af
}

ion-item {
    --border-style: none !important;
}  
.estado{
    position: absolute;
    text-transform: uppercase;
    font-size: 0.6em;
    bottom: -1em;
    right: 0em;
    padding: 1px 4px;
    border-radius: 7px;
}
.card {
    background-color: #f5f5f5;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    padding: 1em;
    width: 100%;
    height: 80vh;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}
.scrol-infinito{
    position: relative;
    overflow-y: auto;
    max-height: 80vh;
    padding-bottom: 1em;
}
.deshabilitado-estado {
    background: #92949c !important;
    color: white;
}
.activo-estado{
    background: var(--ion-color-primary) !important;
    color: white;
}
table{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
table th{
    padding-top: 0.6em;
}
table th, table td{
    text-align: center;
    color: #92949c;
    font-size: 0.7em;
    text-transform: uppercase;
}
.borde-activo{
    border-left: var(--ion-color-primary) solid 0.5em;
}
.borde-inactivo{
    border-left: #92949c solid 0.5em;
}
ion-card-header{
    padding: 2px;
}
ion-card-content{
    padding: 0 0 0.5em 0 !important;
}
ion-card-title{
    margin: 0;
}

ion-item-option div {
    position: absolute;
    bottom: 28%;
    font-size: 0.6em;
}

.agrega-cuenta{
    position: absolute;
    top: 0.5em;
    z-index: 1;
    right: 0.5em;
}