.datos-personales-card{
    width: 80%;
    margin: auto;
}
mat-card-header ion-icon{
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}
mat-form-field{
    width: 100%;
    margin-bottom: -1em;
}