<ion-content [fullscreen]="true" class="page">
  <app-explore-container></app-explore-container>
  <div class="card">
    <ng-container *ngIf="!estaCargando">
    <div #scrolInfinito class="scrol-infinito" (scroll)="onScroll($event)">
      <ion-card *ngFor="let item of dataSource; let index" [class]="buscarClasePorCodigo(item.estado)">
        <ion-item-sliding>
          <ion-item>
            <ion-label>
              <ion-card-header>
                <ion-card-subtitle>
                  <small>{{item.fechaCreacion | date: 'dd/MM/yyyy HH:mm'}}</small>
                </ion-card-subtitle>
                <ion-card-title>
                  <b><small>Ticket: {{item.ticket}}</small></b>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <table>
                  <tr>
                    <th>DE</th>
                    <th>A</th>
                    <th *ngIf="item.codigoTransferencia">Transf.</th>
                    <th *ngIf="item.codigoTransferenciaEmpresa">Transf. Emp.</th>
                    <th>Cuentas</th></tr>
                  <tr>
                    <td>{{item.monto | number:'1.2-2'}} {{buscarAbrevDeMoneda(item.cuentaOrigen.moneda)}}</td>
                    <td>{{item.montoFinal | number:'1.2-2'}} {{buscarAbrevDeMoneda(item.cuentaDestino.moneda)}}</td>
                    <td *ngIf="item.codigoTransferencia">
                      {{item.codigoTransferencia}}
<!--                       <div (click)="cargarComprobante(item.id)" *ngIf="item.estado==6" class="btn-personal">
                          <mat-icon>launch</mat-icon>
                      </div>
                      <div (click)="recuperarComprobante(item.id, 1)" *ngIf="item.estado!=6" class="btn-personal">
                          <mat-icon>attachment</mat-icon>
                      </div> -->
                    </td>
                    <td *ngIf="item.codigoTransferenciaEmpresa">
                        {{item.codigoTransferenciaEmpresa}}
<!--                       <div (click)="recuperarComprobante(item.id, 2)" *ngIf="item.codigoTransferenciaEmpresa" class="btn-personal">
                          <mat-icon>attachment</mat-icon>
                      </div> -->
                    </td>
                    <td>
                      <div (click)="verCuentas(item)" class="btn-personal">
                        <ion-icon name="eye"></ion-icon>
                        <!--mat-icon>visibility</mat-icon-->
                      </div>
                    </td>
                  </tr>
                </table>
                <div class="estado">{{buscarNombreDeEstado(item.estado)}}</div>
              </ion-card-content>
            </ion-label>
          </ion-item>
          <ion-item-options side="start">
            <div class="titulo">COMPROBANTE CLIENTE</div>
            <ion-item-option (click)="cargarComprobante(item.id)" color="secondary">
              <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
              <div>Carga</div>
            </ion-item-option>
            <ion-item-option (click)="recuperarComprobante(item.id, 1)" [disabled]="!item.codigoTransferencia" color="secondary">
              <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              <div>Descarga</div>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end" *ngIf="item.codigoTransferenciaEmpresa">
            <div class="titulo-empresa">COMPROBANTE <br> EMPRESA</div>
            <ion-item-option (click)="recuperarComprobante(item.id, 2)" color="primary">
              <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              <div>Descarga</div>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-card>
       <div class="spinner" *ngIf="estaCargando2">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </div>
    </div>
    </ng-container>
    
    <ng-container *ngIf="estaCargando">
      <ng-container *ngFor="let item of loaderCustom; let index">
        <ion-card>
          <ion-item-sliding>
            <ion-item>
              <ion-label>
                <ion-card-header>
                  <ion-card-subtitle>
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div><ion-skeleton-text [animated]="true"></ion-skeleton-text></div>
                  <div><ion-skeleton-text [animated]="true"></ion-skeleton-text></div>
                </ion-card-content>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-card>
      </ng-container>
    </ng-container>
  </div>
</ion-content>
