<mat-card>
    <mat-card-header>
        <span class="cierra-componente accent-color">
            <mat-icon (click)="close(false)" matTooltip="Cerrar">cancel</mat-icon>
        </span>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{contenido.titulo}}</mat-card-title>
        <mat-card-subtitle *ngIf="contenido.subtitulo?true:false">{{contenido.subtitulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="camara-imagen" *ngIf="!webcamImage">
            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
            [allowCameraSwitch]="allowCameraSwitch" 
            (initError)="handleInitError($event)"></webcam>
            <div class="botones-camara">
                <button (click)="triggerSnapshot()" *ngIf="!webcamImage" mat-fab extended color="primary">
                    <mat-icon>photo_camera</mat-icon>
                    Capturar foto
                </button>&nbsp;
            </div>
        </div>
        <div class="camara-imagen" *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl"/>
            <div class="botones-camara">
                <button  (click)="limpiar()" *ngIf="webcamImage" mat-fab extended color="primary">
                    <mat-icon>flip_camera_ios</mat-icon>
                    Hacer otra captura
                </button>&nbsp;
                <button (click)="devuelveDatos()" *ngIf="webcamImage" mat-fab extended color="accent">
                    <mat-icon>add_a_photo</mat-icon>
                    Listo, ya está
                </button>
            </div>
        </div>

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>