<div class="loging-contenido3">
        <div class="izquierdo3">
            <div class="loging-for3">
                <div class="primero logo-log-reg3">
                    <img src='assets/img/logo.png' alt="">
                </div><br><br>
                <h4 class="mat-primary">REGÍSTRATE Y OBTENER LOS MEJORES CAMBIOS</h4> 
                <form [formGroup]="registraForm" (ngSubmit)="registra()" autocomplete="off">
                    <mat-form-field appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput type="text" formControlName="correo">
                        <mat-error *ngIf="registraForm.get('correo')?.hasError('required')">
                            El correo es <strong>obligatorio</strong>
                        </mat-error>
                        <mat-error *ngIf="registraForm.get('correo')?.hasError('email')">
                            Debe ser un correo <strong>válido</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input matInput [type]="hide1?'password':'text'" formControlName="password">
                        <mat-icon class="pointer" matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="registraForm.get('password')?.hasError('required')">
                            El password es <strong>obligatorio</strong>
                        </mat-error>
                        <mat-error *ngIf="registraForm.get('password')?.hasError('minlength')">
                            Mínimo <strong>8 caracteres</strong>
                        </mat-error>
                        <mat-error *ngIf="registraForm.get('password')?.hasError('maxlength')">
                            Máximo <strong>30 caracteres</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input matInput [type]="hide2?'password':'text'" formControlName="rePassword">
                        <mat-icon class="pointer" matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="registraForm.get('rePassword')?.hasError('required')">
                            El password es <strong>obligatorio</strong>
                        </mat-error>
                        <mat-error *ngIf="registraForm.get('rePassword')?.hasError('minlength')">
                            Mínimo <strong>8 caracteres</strong>
                        </mat-error>
                        <mat-error *ngIf="registraForm.get('rePassword')?.hasError('maxlength')">
                            Máximo <strong>30 caracteres</strong>
                        </mat-error>
                         <mat-error *ngIf="registraForm.get('rePassword')?.hasError('confirmPasswordValidator')">
                            Los passwords <strong>deben ser iguales</strong>
                        </mat-error>
                    </mat-form-field><br>
                    <button mat-fab extended color="primary" [disabled]="estaCargando">
                        <mat-icon>check</mat-icon>
                        Registrar
                    </button>&nbsp;
                    <button type="button" routerLink="/login" mat-fab extended color="accent" [disabled]="estaCargando">
                        <mat-icon>block</mat-icon>
                        Cancelar
                    </button>
                    <mat-progress-bar *ngIf="estaCargando" mode="indeterminate" class="cargando"></mat-progress-bar>
                </form>
            </div>
    </div>
    <div class="derecho3">
        <div class="contenido-der3">
            <div class="logo-log-reg3">
                <img src='assets/img/logofooter.png' alt="">
            </div>
            <br>
            <div class="contenedor-carrusel">
                <div class="lista-pasos">La mejor tasa de cambio, donde sea que estés en solo tres pasos: </div>
                <div class="lista-pasos">1. Registrate en nuesto portal web o descarga nuestra app</div>
                <div class="lista-pasos">2. Registra una operación de cambio con a la mejor tasa de cambio</div>
                <div class="lista-pasos">3. Transfiere el monto del cambio a nuestras cuentas, recibe el cambio en tu cuenta</div>
            </div>            
        </div>
    </div>
</div>

  