html, body
    height: 100%
/* .calcula-cambio mat-form-field
    width: 100% */
body
    margin: 0
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-image: url('./assets/img/3247840.jpg')
.mat-primary
    text-align: center
.mat-accent
    text-align: center
.mat-warn
    text-align: center
.card-log-reg
    width: 40%
    margin: auto
    background: rgba(255, 255, 255, 0.8) !important
.card-log-reg form mat-form-field
    width: 100%
.card-log-reg form
    text-align: center