@import "node_modules/angular-notifier/styles"


html, body
    height: 100%
/* .calcula-cambio mat-form-field
    width: 100% */
body
    margin: 0
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-image: url('./assets/img/fondo.jpg')
.mat-primary
    text-align: center
.mat-accent
    text-align: center
.mat-warn
    text-align: center
.card-log, .card-reg
    width: 40%
    margin: auto
    background: rgba(255, 255, 255, 0.8) !important
.card-log form mat-form-field
    width: 100%
.card-reg form mat-form-field
    width: 49%
    padding: 2px
.card-log form, .card-reg form
    text-align: center
.logo-log-reg
    padding: 5px
    width: 25%
    margin: auto !important
.logo-log-reg img
    width: 100%

.grecaptcha-badge
    width: 70px !important
    overflow: hidden !important
    transition: all 0.3s ease !important
    left: 4px !important
.grecaptcha-badge:hover
    width: 256px !important