@import "node_modules/angular-notifier/styles"


html, body
    height: 100%
/* .calcula-cambio mat-form-field
    width: 100% */
body
    margin: 0
    height: 100%
    background: #F5F5F5
    font-size: 1.5em
/*     background-image: url('./assets/img/fondo.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat */
.contenido-general
    background: #ffffff
    width: 70%
    margin: auto
    border-radius: 0.5em
    padding: 0.7em
    box-sizing: border-box
    font-size: 1.5em
    text-align: center
.cierra-componente
    position: absolute
    right: 1em
    cursor: pointer
.mat-primary
    text-align: center
.mat-accent
    text-align: center
.mat-warn
    text-align: center
.trabajo
    background: rgba(255, 255, 255, 0.7) !important
.promocion-contenido
    background: rgb(32,181,152)
    background: -moz-linear-gradient(63deg, rgba(32,181,152,1) 0%, rgba(6,162,201,1) 43%, rgba(1,157,214,1) 100%)
    background: -webkit-linear-gradient(63deg, rgba(32,181,152,1) 0%, rgba(6,162,201,1) 43%, rgba(1,157,214,1) 100%)
    background: linear-gradient(63deg, rgba(32,181,152,1) 0%, rgba(6,162,201,1) 43%, rgba(1,157,214,1) 100%)
.card-reg
    background: #fff
    box-shadow: -8px 4px 17px -8px rgba(0,0,0,0.75)
    -webkit-box-shadow: -8px 4px 17px -8px rgba(0,0,0,0.75)
    -moz-box-shadow: -8px 4px 17px -8px rgba(0,0,0,0.75)
    padding: 20px
    box-sizing: border-box
.card-reg, .promocion-contenido
    width: 50%
    height: 100%
    margin: auto
    float: left
.card-log
    width: 40%
    margin: auto
.matcard, .card-log
    background: rgba(255, 255, 255, 0.7) !important
.matcard
    width: 90%
    margin: auto
.card-log form mat-form-field
    width: 100%
.card-reg form mat-form-field
    width: 49%
    padding: 2px
mat-form-field, mat-slide-toggle
    padding: 2px
.card-log form, .card-reg form
    text-align: center
.logo-log-reg
    padding: 5px
    width: 50%
    margin: auto !important
.logo-log-reg img
    width: 100%
.trabajo
    width: 80%
    margin: auto
.close-component
  position: absolute
  right: 1em
  cursor: pointer
.cargando
    margin-top: 0.5em
// .grecaptcha-badge
//     width: 70px !important
//     overflow: hidden !important
//     transition: all 0.3s ease !important
//     left: 4px !important
// .grecaptcha-badge:hover
//     width: 256px !important
.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary, .mat-mdc-raised-button.mat-primary, .mat-step-icon
    --mdc-fab-icon-color: #ffffff
    --mat-mdc-fab-color: #ffffff
    --mat-mdc-raised-color: #ffffff
    --mdc-protected-button-label-text-color: #ffffff
    color: #ffffff !important
/////////////////////////LOGIN REGISTRO
.loging-wrapper
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 70%
    margin: auto
    @media (max-width: 1250px)
        width: 90% !important
    @media (max-width: 500px)
        width: 100% !important
.loging-box
    flex: 1
    display: flex
    flex-direction: row
    background: white
    align-items: stretch
    border-radius: 0.5em
    -webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75)
    height: 80%
    @media (max-width: 500px)
        height: 100% !important
    .loging-left-box, .loging-right-box
        padding: 5px
        box-sizing: border-box
        width: 50%
        display: flex
        justify-content: center
        align-items: center
        @media (max-width: 700px)
            width: 80% !important
        @media (max-width: 500px)
            width: 100% !important
    .loging-right-box
        background: linear-gradient(63deg, rgba(32,181,152,1) 0%, rgba(6,162,201,1) 43%, rgba(1,157,214,1) 100%)
        border-top-right-radius: 0.5em
        border-bottom-right-radius: 0.5em
        min-height: 100%
        @media (max-width: 700px)
            display: none

.loging-formulario
    text-align: center
    mat-form-field
        width: 80%
        margin: auto
/////////////////////////LOGIN REGISTRO;
/////////////////////////COMPONENTE
.loging-wrapper
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 70%
    margin: auto

.loging-box
    flex: 1
    display: flex
    flex-direction: row
    background: white
    align-items: stretch
    border-radius: 0.5em
    -webkit-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75)
    -moz-box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.75)
    height: 80%
/////////////////////////COMPONENTE;
.logo-principal
    width: 10em
    img
        width: 100%
.option-banco-logo
    display: flex
    align-items: center
    img
        width: 2em
        padding-right: 5px
.btn-personal
    display: flex
    justify-content: center
    align-items: center
    height:2em
    width: 2em
    border-radius: 50%
    cursor: pointer
    display: block
    padding: 2px
.btn-personal:hover
    color: #ffffff
    background: #2d47af
.copiar
    cursor: pointer
///colores para estado de operaciones
.op-est-preliminar, .op-est-activo, .op-est-en-curso, .op-est-anulado, .op-est-finalizado, .op-est-finalizado-sin-sunat
    color: #ffffff !important
    text-transform: uppercase
    font-size: 0.8em
    text-align: center
    border-radius: 9px
    padding: 0px 5px
.op-est-preliminar
    background: #f03535 !important    
.op-est-activo
    background: #2d47af !important
    padding: 0 !important
.op-est-en-curso
    background: #47be11 !important
.op-est-anulado
    background: #686967 !important
.op-est-finalizado
    background: #1f8b4c !important
.op-est-finalizado-sin-sunat
    background: #1f8b4c !important
    border: 2px #f03535 solid
@media (max-width: 1000px)
    .contenido-general
        width: 80%
@media (max-width: 700px)
    .datos-personales-dialog
        width: 100% !important
        max-width: none !important
    .contenido-general
        width: 95%
    .compra-venta
        font-size: 0.8em
    .envio div, .recibo div
        padding-bottom: 0.5em
@media (max-width: 650px)
    .operacion-dialog
        width: 100% !important
        max-width: none !important
@media (max-width: 500px)
    .contenido-general
        width: 100%
        padding: 0.2em
    .operacion-dialog
        width: 100% !important
        max-width: none !important

