<br>
<div class="contenido-general">
    <form action="">
        <div class="compra-venta" [ngClass]="tipoCambio?'accent-background':'warn-background'">
            <div class="compra">Dólar compra: {{tipoCambio?.compra}}</div>
            <div class="venta">Dólar venta: {{tipoCambio?.venta}}</div>
        </div>
        <br>
        <div class="envio-recibo">
            <div class="envio">
                <div>{{envio.desc}}</div>
                <mat-form-field appearance="outline">
                    <mat-label>Envío</mat-label>
                    <input type="tel" matInput>
                    <img [src]='envio.img' matSuffix>
                </mat-form-field>
            </div>
            <button (click)="cambiaMoneda()" mat-fab color="primary" class="cambio" type="button">
                <mat-icon>swap_horiz</mat-icon>
            </button>
            <div class="recibo">
                <div>{{recibo.desc}}</div>
                <mat-form-field appearance="outline">
                    <mat-label>Recibo</mat-label>
                    <input type="tel" matInput>
                    <img [src]='recibo.img' matSuffix>
                </mat-form-field>
            </div>
        </div>
        <small class="extra accent-color">Ganas 0.234 más que en el banco</small><br>
        
        <button mat-fab extended color="primary">
            INICIAR OPERACIÓN
        </button>
    </form>

</div>