<br>
<div class="contenido-general">
    <form [formGroup]="operacionForm" (ngSubmit)="iniciarOperacion()" autocomplete="off">
        <div class="compra-venta" [ngClass]="tipoCambio?'accent-background':'warn-background'">
            <div class="compra">Dólar compra: {{tipoCambio?.compra}}</div>
            <div class="venta">Dólar venta: {{tipoCambio?.venta}}</div>
        </div>
        <br>
        <div class="envio-recibo">
            <div class="envio">
                <div>{{envio.desc}}</div>
                <mat-form-field appearance="outline">
                    <mat-label>Envío</mat-label>
                    <input formControlName="envio" type="text" matInput>
                    <img [src]='envio.img' matSuffix>
                </mat-form-field>
            </div>
            <button (click)="cambiaMoneda()" mat-fab color="primary" class="cambio" type="button">
                <mat-icon>swap_horiz</mat-icon>
            </button>
            <div class="recibo">
                <div>{{recibo.desc}}</div>
                <mat-form-field appearance="outline">
                    <mat-label>Recibo</mat-label>
                    <input formControlName="recibo" type="text" matInput readonly>
                    <img [src]='recibo.img' matSuffix>
                </mat-form-field>
            </div>
        </div>
        <small *ngIf="false" class="extra accent-color">Ahorro estimado {{ahorroImporte | number:'1.2-2'}} {{recuperaNombre(recibo.cod)}}</small><br>
        <button mat-fab extended color="primary" [disabled]="tipoCambio?false:true">
            INICIAR OPERACIÓN
        </button>
    </form>
</div>